@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-style: normal;
  src: url(../assets/fonts/rubik/rubik-800.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url(../assets/fonts/raleway/raleway-800.woff2);
  font-display: swap;
}

:root {
  --action-focus-color:#af4fff;
  --action-hover-color: #ffc700;

  --status-error-color:#ff3d3d;
  --status-success-color:#08af00;
  --status-warning-color:#fd912e;

  --main-colored-color:#FFE17F;
  --main-dark-color:#444444;
  --main-black-color:#000000;
  --main-white-color:#ffffff;
  --main-light-color:#F0F0F0;
  --main-bg-sort-color:#EBEBEB;
  --main-bg-filter-color:#DCDCDC;
}

body{
  margin: 0;
  font-family:  "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-dark-color);
}

.wrapper{
  width: 1160px;
  margin: auto;
}

.title{
  margin: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  line-height: 50px;
  color: var(--main-black-color);
  /* если все заголовки одного цвета как лучше задавать цвет: тут или наследовать в каждой векции от секции */
}

.subtitle{
  margin: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
}

.text{
  margin: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}

.button{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-black-color);
  border: none;
  background: linear-gradient(transparent 42%, var(--main-colored-color) 42%, var(--main-colored-color) 58%, transparent  58%);
  cursor: pointer;
}

.button:hover{
  background: var(--main-colored-color);
}

.button:focus-visible{
  outline: none;
  background: linear-gradient(transparent 42%, var(--action-focus-color) 42%, var(--action-focus-color) 58%, transparent  58%);
}

.button:active{
  background: var(--main-colored-color);
  opacity: .3;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden{
  visibility: hidden;
}



/*Pages*/

/* Header */
.header{
  color: var(--main-black-color);
}

.header__wrapper{
  width: 1078px;
  padding: 17px 39px 38px 44px;
  background: linear-gradient(var(--main-white-color) 40px, var(--main-colored-color) 40px);
}

.logo{
  margin-left: 17px;
}

.header__navigation{
  padding-top: 19px;
}

.user-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 24px;
}

.search-form{
  width: 512px;
  height: 36px;
  display: flex;
}

.search-form__input{
  width: 356px;
  padding-left: 50px;
  padding-right: 10px;
  border-radius: 20px;
  flex-grow: 2;
  background: transparent url('../assets//image/search.svg') 12px 48% no-repeat;
  border: 2px solid transparent;
}

.search-form__input::placeholder{
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  opacity: .3;
}

.search-form__input:hover::placeholder{
  opacity: .6;
}

.search-form__input:focus-visible{
  border: 2px solid var(--action-focus-color);
}

.search-form__input:active{
  border: 2px solid var(--main-black-color);
}

.search-form__button{
  width: 160px;
  background: transparent;
  border: none;
  border-left: 2px solid var(--main-black-color)
}

.search-form__input:active:placeholder-shown {
	border-left: 2px solid var(--main-black-color);
}

.search-form__input:placeholder-shown + .search-form__button {
	display: none;
}

.user-navigation__item{
  list-style: none;
  position: relative;
}

.basket-popover{
  top: 34px;
  right: -62px;
  width: 320px;
  position: absolute;
  background-color: var(--main-black-color);
  color: var(--main-white-color);
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.basket-popover::before{
  top: -6px;
  left: 150px;
  width: 14px;
  height: 6px;
  position: absolute;
  content: '';
  background: url(../assets/image/up-arrow.svg);
}

.basket-popover__list{
  margin: 0;
  padding: 0;
}

.basket-popover__item{
  padding: 20px;
  list-style: none;
  display: flex;
}

.basket-popover__item:not(:last-child){
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.basket-popover__link{
  margin-top: 3px;
  display: flex;
  color: var(--main-white-color);
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.basket-popover__img{
  margin-right: 22px;
  margin-top: -2px;
}

.basket-popover__link:focus-visible{
  color: var(--action-focus-color);
  outline: none;
}

.basket-popover__link:focus-visible .basket-popover__img{
  outline: 5px solid var(--action-focus-color);
}

.basket-popover__link:hover{
  opacity: .6;
}

.basket-popover__link:active{
  opacity: .3;
}

.basket-popover__close-button{
  margin: 4px -3px 13px;
  width: 18px;
  height: 18px;
  background: url("../assets/image/close-basket-item.svg") no-repeat center;
  cursor: pointer;
  border: none;
}

.basket-popover__total{
  padding: 13px 21px 12px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #1A1A1A;
}

.basket-popover__text{
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.basket-popover__total-item,
.basket-popover__amount{
  padding: 5px;
}

.basket-popover__close-button:focus-visible{
  outline: 2px solid var(--action-focus-color);
  border-radius: 50%;
}

.basket-popover__close-button:hover{
  outline: none;
  opacity: .6;
}

.basket-popover__close-button:active{
  outline: none;
  opacity: .3;
}

.basket-popover__open-button{
  width: 280px;
  margin: 20px;
  margin-bottom: 22px;
  padding: 15px;
  text-transform: uppercase;
  border: none;
  color: var(--main-black-color);
  background: var(--main-white-color);
}

.basket-popover__open-button:focus-visible{
  outline: 5px solid var(--action-focus-color);
  background: var(--main-white-color);
}

.basket-popover__open-button:active{
  opacity: 1;
  color: rgba(0, 0, 0, .3);
}

.user-navigation__list{
  padding: 0;
  margin: 0;
  width: 537px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-navigation__link{
  padding: 9px 18px;
  display: block;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18.96px;
  color: inherit;
  text-decoration: none;
  border-radius: 20px;
}

.user-navigation__link:hover{
  opacity: .6;
}

.user-navigation__link:focus-visible{
  outline: 2px solid  var(--action-focus-color);
  border-radius: 20px;
}

.user-navigation__link:active{
  outline: none;
  opacity: .3;
}

.user-navigation__link::before{
  width: 27px;
  vertical-align: unset;
  content: '';
  display: inline-block;
}

.user-navigation__link_compare::before{
  width: 10px;
  height: 12px;
  background: url('../assets/image/compare.svg') no-repeat;
  margin-right: 10px;
}

.user-navigation__link_login::before{
  width: 13px;
  height: 12px;
  background: url('../assets/image/login.svg') no-repeat;
  margin-right: 12px;
}

.user-navigation__link_basket::before{
  width: 16px;
  height: 14px;
  margin-right: 6px;
  background: url('../assets/image/basket.svg') no-repeat;
}

.user-navigation__link_basket{
  position: relative;
}

.user-navigation__basket-count{
  width: 21px;
  height: 21px;
  position: absolute;
  left: 3px;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white-color);
  border-radius: 50%;
}

.page-navigation__list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-navigation__item{
  list-style: none;
}

.page-navigation__item:first-child{
  margin-right: auto;
  position: relative;
}

.page-navigation__item:last-child{
  margin-left: 58px;
}

.page-navigation__link{
  padding: 12px 16px 9px;
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.2em;
  line-height: 21.13px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-black-color);
  border-radius: 0;
  border-bottom: 2px solid transparent;
}

.page-navigation__link:focus-visible{
  outline: 2px solid  var(--action-focus-color);
  border-radius: 25px;
}

.page-navigation__link:hover{
  padding: 12px 0px 9px;
  margin-left: 16px;
  margin-right: 16px;
  outline: none;
  border-bottom: 2px solid var(--main-black-color);
  border-radius: 0;
}

.page-navigation__link:active{
  padding: 12px 0px 9px;
  margin-left: 16px;
  margin-right: 16px;
  opacity: 0.3;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid var(--main-black-color);
}

.products-category{
  display: flex;
  text-decoration: none;
}

.products-category__button{
  padding: 12px 16px 9px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.2em;
  line-height: 21.13px;
  text-transform: uppercase;
  color: var(--main-black-color);
  border-radius: 0;
  border-bottom: 2px solid transparent;
}

.products-category::after{
  margin-top: -3px;
  width: 46px;
  height: 46px;
  vertical-align: top;
  content: '';
  border-radius: 50%;
  border: 2px solid var(--main-black-color);
  opacity: .3;
  background: url('../assets/image/plus.svg') no-repeat center;
}

.products-category:focus-visible{
  outline: none;
}

.products-category:focus-visible .products-category__button{
  outline: 2px solid  var(--action-focus-color);
  border-radius: 25px;
}

.page-navigation__item_products-category:hover .products-category__wrapper{
  visibility: visible;
  transition-duration: 400ms;
  z-index: 2;
}

.page-navigation__item_products-category:hover .products-category::after{
  background: url('../assets/image/minus.svg') no-repeat center
}
.page-navigation__item_products-category:hover .products-category__button{
  outline: none;
}

.products-category:active{
  opacity: 0.3;
}

.products-category:active .products-category__button{
  outline: none;
}

.products-category__wrapper{
  width: 1070px;
  height: 120px;
  top: 47px;
  left: -44px;
  padding: 27px 45px 34px;
  position: absolute;
  display: flex;
  justify-content: left;
  background-color: var(--main-colored-color);
}

.products-category__list{
  margin-right: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.products-category__list:nth-child(2){
  margin-right: 30px;
}

.products-category__item{
  list-style: none;
  margin-bottom: 6px;
}

.products-category__link{
  padding: 3px 15px 5px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  text-decoration: none;
  line-height: 18px;
  color: var(--main-black-color);
}

.products-category__link:focus-visible{
  outline: 2px solid  var(--action-focus-color);
  border-radius: 25px;
}

.products-category__link:hover{
  opacity: 0.6;
  outline: none;
  border-radius: 0;
}

.products-category__link:active{
  opacity: 0.3;
}

/* Slider */
.slider{
  margin-bottom: 70px;
  margin-top: -36px;
  position: relative

}

.slider__wrapper{
  background: linear-gradient(var(--main-colored-color) 150px, var(--main-white-color)  151px);
  position: relative;
}

.slider__side{
  display: flex;
  justify-content: space-between;
}

.slider__info{
  width: 560px;
  margin-top: 122px;
  z-index: 1;
}

.slider__title{
  margin-bottom: 28px;
}

.slider__text{
  margin-bottom: 36px;
}

.slider__button-more{
  width: 216px;
  margin-bottom: 54px;
  padding-left: 4px;
}

.slider__features{
  display: flex;
  flex-wrap: wrap;
}

.feature-item{
  margin-right: 21px;
}

.feature-item__value{
  margin: 0;
  margin-bottom: 11px;
  font-size: 36px;
  line-height: 30px;
  color: var(--main-black-color);
}

.feature-item__description{
  margin: 0;
  font-size: 16px;
}

.slider-counter{
  position: absolute;
  right: 49px;
  top: 82px;
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  color: var(--main-white-color);
}

.slider__button{
  width: 40px;
  height: 80px;
  top: 240px;
  position: absolute;
  border: none;
  cursor: pointer;
}

.slider__button_back{
  left: 9px;
  background: url("../assets/image/left-arrow.svg") no-repeat center;
}

.slider__button_next{
  left: 511px;
  background: url("../assets/image/right-arrow.svg") no-repeat center;
}

.slider__button:hover{
  opacity: 0.6;
}

.slider__button:focus-visible{
  outline: 2px solid var(--action-focus-color);
  box-sizing: border-box;
  border-radius: 6px;
}

.slider__button:active{
  opacity: 0.3;
  outline: none;
}

.slider-pagination{
  padding: 0;
  top: 336px;
  right: 36px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  list-style: none;
  z-index: 1;
}

.slider-pagination__item{
  margin-right: 26px;
}

.slider-pagination__button{
  width: 8px;
  height: 8px;
  padding: 0;
  list-style: none;
  border-radius: 50%;
  outline: 2px solid var(--main-black-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider-pagination__button:focus-visible{
  border: none;
  outline: 2px solid var(--action-focus-color);
}

.slider-pagination__button:hover{
  opacity: 0.6;
}

.slider-pagination__button:active{
  opacity: 0.3;
}

.slider-pagination__button_current{
  background-color: var(--main-black-color);
  cursor: default;
}

.slider-pagination__button_current:hover,
.slider-pagination__button_current:active,
.slider-pagination__button_current:focus-visible{
  opacity: 1;
  outline: 2px solid var(--main-black-color);
}

/* Popular-category */
.popular-category{
  color: var(--main-black-color);
  margin-bottom: 69px;
}

.popular-category__list{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-category__item{
  list-style: none;
  padding-bottom: 12px;
}

.popular-category__link{
  width: 160px;
  font-family: "Raleway", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: inherit;
}

.img-wrapper{
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-colored-color);
}

.popular-category__link:hover .img-wrapper{
  background-color: var(--action-hover-color) ;
}

.popular-category__link:focus-visible{
  color:  var(--action-focus-color);
  outline: none;
}

.popular-category__link:focus-visible .img-wrapper{
  outline: 5px solid var(--action-focus-color);
}

.popular-category__link:active .img-wrapper{
  background-color: var(--action-hover-color);
}

.popular-category__link:active .popular-category__img,
.popular-category__link:active .popular-category__text{
  opacity: .3;
}

.popular-category__img_monopod{
  padding-top: 42px;
}

.popular-category__img_wr{
  padding-left: 1px;
}

.popular-category__img_camera{
  padding-left: 9px;
  padding-top: 3px;
}

.popular-category__img_bracelet{
  padding-top: 4px;
  padding-right: 2px;
}

.popular-category__img_watch{
  padding-left: 3px;
  padding-right: 2px;
}

.popular-category__img_quadracopter{
  padding-top: 7px;
}


/* Services */
.services{
  margin-bottom: 90px;
  padding-bottom: 69px;
  background: linear-gradient(var(--main-white-color) 26%, var(--main-light-color) 26%);
}

.services__wrapper{
  display: flex;
}

.services-list{
  margin: 0;
  padding: 0;
  padding-top: 34px;
  width: 277px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 7px solid var(--main-black-color);
}

.services-list__item{
  margin-bottom: 24px;
  list-style: none;
}

.services-list__item_active{
  background: var(--main-black-color);
}

.services-list__item_active .services-list__button{
  cursor: default;
  background: var(--main-black-color);
  color: var(--main-colored-color);
}

.services-list__button{
  width: 160px;
  padding-left: 5px;
  background: linear-gradient(transparent 42%, var(--action-hover-color) 42%, var(--action-hover-color) 58%, transparent  58%);
}

.services-list__button:hover{
  background: var(--action-hover-color);
}

.services-list__item_active .services-list__button:focus-visible,
.services-list__item_active .services-list__button:active,
.services-list__item_active .services-list__button:hover{
  background: var(--main-black-color);
  opacity: 1;
}

.services__tabs{
  margin-bottom: 57px;
  margin-top: 71px;
  padding-left: 116px;
  flex-grow: 1;
}

.services__tab{
  display: flex;
}

.services__content{
  width: 500px;
}

.services__title{
  margin-bottom: 33px;
}

.delivery-service::after{
  padding-top: 3px;
  padding-left: 97px;
  content: " ";
  display: block;
  width: 156px;
  height: 188px;
  background: url('../assets/image/delivery.svg') no-repeat center;
}

.credit-service::after{
  padding-top: 3px;
  padding-left: 97px;
  content: " ";
  display: block;
  width: 156px;
  height: 188px;
  background: url('../assets/image/credit.svg') no-repeat;
}

.guarantee-service::after{
  padding-top: 3px;
  padding-left: 97px;
  content: " ";
  display: block;
  width:165px;
  height:188px;
  background: url('../assets/image/warranty.svg') no-repeat;
}

/* Special-delivery */

.special-delivery__button{
  margin-bottom: 97px;
  height: 100px;
  position: relative;
  display: flex;
  text-decoration: none;
  background-color: var(--main-light-color);
}

.special-delivery__button:hover{
  background-color: var(--main-bg-sort-color);
}

.special-delivery__button:hover::before{
  background-color: var(--action-hover-color);
}

.special-delivery__button:hover::after{
  opacity: 1;
}

.special-delivery__button:focus-visible{
  outline: 5px solid var(--action-focus-color);
}

.special-delivery__button:active{
  opacity: .3;
  outline: none;
}

/* .special-delivery__button:active::before{
  background-color: var(--action-hover-color);
  opacity: 1;
} */

.special-delivery__text{
  padding-top: 37px;
  padding-bottom: 43px;
  flex-grow: 1;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 23px;
  letter-spacing: 0.19em;
  color:  var(--main-black-color);
}

.special-delivery__button::before{
  display: block;
  width: 125px;
  height: 100px;
  content:'';
  background: var(--main-colored-color) url("../assets/image/delivery-car.svg") no-repeat center;
}

.special-delivery__button::after{
  width: 40px;
  height: 40px;
  right: 33px;
  top: 29px;
  position: absolute;
  display: block;
  border-radius: 50%;
  content:'';
  background: var(--main-bg-filter-color) url("../assets/image/info.svg") no-repeat center;
  opacity: .5;
}

/* About-company */
.about-company{
  margin-bottom: 71px;
}

.about-company__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-us,
.contacts{
  width: 560px;
}

.about-us::before,
.contacts::before{
  width: 80px;
  height: 7px;
  display: block;
  content: '';
  background: url("../assets/image/line.svg") no-repeat;
}

.about-us__title,
.contacts__title{
  margin-top: 43px;
  margin-bottom: 45px;
}

.about-us__text,
.contacts__text{
  margin-bottom: 30px;
}

.about-us__list{
  padding: 0;
  margin-top: 73px;
  margin-bottom: 57px;
  padding-left: 24px;
}

.about-us__item{
  margin-bottom: 17px;
  padding-left: 11px;
  line-height: 20px;
  list-style: disc;
}
.about-us__item > b{
  color: var(--main-dark-color);
}

.about-us__item::marker {
  color: var(--action-hover-color);
  font-size: 1.5em;
}

.contacts__subtitle{
  margin-bottom: 15px;
}

.contacts__address{
  font-style: normal;
  margin-bottom: 30px;
}

.contacts__phone{
  color: var(--main-dark-color);
  text-decoration: underline;
}

.contacts__work-time{
  margin-bottom: 53px;
}

.about-us__button,
.contacts__button{
  width: 256px;
  padding-left: 4px;
}

/* Subscription */
.subscription{
  background-color: var(--main-light-color);
  padding-top: 75px;
  padding-bottom: 71px;
}

.subscription__row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.subscription__title{
  width: 560px;
}

.subscription__text{
  margin-top: 10px;
  width: 560px;

}

.subscription__form{
  display: flex;
  height: 55px;
}

.subscription__input{
  padding-top: 7px;
  padding-left: 0;
  width: 598px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, .1);
  opacity: .5;
  cursor: pointer;
}

.subscription__input:hover{
  opacity: .7;
  background: transparent;
}

.subscription__input:focus-visible{
  outline: none;
  background: var(--main-bg-filter-color);
  opacity: 1;
}

.subscription__input:active{
  border-bottom: 3px solid var(--main-black-color);
}

.subscription__input::placeholder{
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-dark-color);
  opacity: .5;
}


.subscription__button{
  width: 260px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid rgba(0, 0, 0, .1);
  cursor: pointer;
}

.subscription__button:focus-visible{
  border: 3px solid var(--action-focus-color);
  outline: none;
}

.subscription__button:hover{
  border: none;
  color: var(--main-white-color);
  background-color: var(--main-black-color);
}

.subscription__button:active{
  border: none;
  color: var(--main-white-color);
  background-color: var(--main-black-color);
  opacity: .3;
}

.subscription__note{
  padding-right: 1px;
  display: flex;
  align-items: center;
}

.subscription__note::before{
  padding-right: 42px;
  width: 14px;
  height: 14px;
  content: '';
  background: url("../assets/image/mark.svg") no-repeat center;
}

/* Footer */
.footer{
  background-color: var(--main-dark-color);
  color: var(--main-white-color);
}

.footer__wrapper{
  padding-top: 133px;
  padding-bottom: 61px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__address-column{
  width: 265px;
  margin-right: 78px;
  position: relative;
}

.footer__logo{
  position: absolute;
  top: -71px;
  left: -2px;
  filter: invert(72%) sepia(62%) saturate(855%) hue-rotate(359deg) brightness(101%) contrast(104%);
}

.footer__address{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.footer__address::after{
  margin-top: 66px;
  width: 80px;
  height: 7px;
  content: '';
  background: url("../assets/image/line.svg") no-repeat center;
  filter: invert(72%) sepia(62%) saturate(855%) hue-rotate(359deg) brightness(101%) contrast(104%);
}

.footer-navigation{
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-navigation__item{
  list-style: none;
}

.footer-navigation__link{
  padding: 14px 20px;
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.footer-navigation__link:focus-visible{
  outline: 2px solid  var(--action-focus-color);
  border-radius: 25px;
}

.footer-navigation__link:hover{
  padding: 14px 0px 8px;
  margin-left: 20px;
  margin-right: 20px;
  outline: none;
  border-bottom: 2px solid var(--action-hover-color);
  border-radius: 0;
}

.footer-navigation__link:active{
  padding: 14px 0px 8px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.3;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid var(--action-hover-color);
}

.footer__socials{
  margin: auto;
}

.socials{
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socials__item{
  margin: 5px 7px;
  list-style: none;
}

.socials__link{
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3) no-repeat center;
  opacity: .3;
}

.socials__link:hover{
  background-color: var(--action-hover-color);
  opacity: 1;
}

.socials__link:focus-visible{
  outline: 5px solid var(--action-focus-color);
  background-color: transparent;
  opacity: 1;
}

.socials__link:active{
  background-color: var(--action-hover-color);
  opacity: .3;
}

.socials__link_twitter{
  background-image: url("../assets/image/twitter.svg");
}

.socials__link_facebook{
  background-image: url("../assets/image/facebook.svg");
}

.socials__link_instagram{
  background-image: url("../assets/image/instagram.svg");
}

.footer__contacts-column{
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.footer__phone{
  padding: 4px 15px;
  margin-top: -4px;
  margin-right: -16px;
  margin-bottom: 46px;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.footer__phone:hover{
  color: var(--action-hover-color);
}

.footer__phone:focus-visible{
  outline: 2px solid var(--action-focus-color);
  border-radius: 25px;
}

.footer__phone:active{
  color: var(--action-hover-color);
  opacity: .3;
}

.footer__academy-link{
  margin-left: auto;
  padding: 10px;
  margin-right: -11px;
  filter: invert(72%) sepia(62%) saturate(855%) hue-rotate(359deg) brightness(101%) contrast(104%);
}

.footer__academy-link:hover{
  color: var(--main-white-color);
}

.footer__academy-link:focus-visible{
  border-radius: 10px;
  outline: 2px solid var(--action-focus-color);
}

.footer__academy-link:active{
  color: var(--main-white-color);
  opacity: .3;
}


/* CATALOG PAGE */

/* Inner-header */

.inner-header{
  color: var(--main-black-color);
}

.inner-header__wrapper{
  padding: 38px 0 44px;
  width: 1040px;
}

.inner-header__title{
  margin-bottom: 17px;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  margin-left: -13px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item{
  margin-right: 10px;
  list-style: none;
}

.breadcrumbs__link{
  padding: 6px 13px 6px 12px;
  display: block;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 18.96px;
  color: rgba(0, 0, 0, .6);
}

.breadcrumbs__link:hover{
  color: var(--main-black-color);
}

.breadcrumbs__link:focus-visible{
  outline: 5px solid var(--action-focus-color);
}

.breadcrumbs__link:active{
  color: rgba(0, 0, 0, .3);
}

/* Catalog-products */

.catalog-products{
  color: var(--main-black-color);
}

.catalog-products__header{
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-areas:
    "filter-header-before filter-header sort sort-after"
}

.catalog-products__header::before{
  grid-area: filter-header-before;
  background-color: var(--main-bg-filter-color);
  content: '';
}

.catalog-products__header::after{
  grid-area: sort-after;
  background-color: var(--main-bg-sort-color);
  content: '';
}

.catalog-products__content{
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-areas:
  "filter-content-before filter-content content content-after"
}

.catalog-products__content::before{
  grid-area: filter-content-before;
  background-color: var(--main-bg-sort-color);
  content: '';
}

.catalog-products__content::after{
  grid-area: content-after;
  background-color: transparent;
  content: '';
}

.catalog-title{
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

/* FILTER */

.catalog-products__filter-title{
  margin: 0;
  padding: 25px 60px;
  grid-area: filter-header;
  background-color: var(--main-bg-filter-color);
}

.catalog-filter{
  padding-right: 68px;
  grid-area: filter-content;
  background-color: var(--main-bg-sort-color);
}


.catalog-filter__item{
  list-style: none;
}

.catalog-filter__legend{
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter__price-label{
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

/* SORTING */

.sorting{
  display: flex;
  padding: 20px 0;
  padding-left: 72px;
  grid-area: sort;
  background-color: var(--main-bg-sort-color);
}

.sorting-select__control{
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-black-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sorting-select__control:hover{
  opacity: .6;
}

.sorting-select__control:focus-visible{
  outline: 5px solid var(--action-focus-color);
}

.sorting-select__control:active{
  outline: none;
  opacity: .3;
}

.sorting-select{
  margin-right: auto;
}

.sorting-select__label{
  margin-right: 42px;
}

.sorting__button{
  width: 30px;
  height: 30px;
}


/* PRODUCT-ITEMS */

.content-wrapper{
  grid-area: content;
  padding-top: 69px;
  padding-left: 72px;
}

.catalog-products__list{
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 46px 40px;
  list-style: none;
}

.product-card{
  margin: 0;
  padding: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
}

.product-card_new::after{
  bottom: 373px;
  right: 27px;
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background: url("../assets/image/new.svg");
}

.product-card__link{
  width: 360px;
  display: block;
  color: inherit;
  text-decoration: none;
}

.product-card__link:hover .product-card__image{
  opacity: .8;
}

.product-card__link:focus-visible{
  outline: none;
}

.product-card__link:focus-visible .product-card__image{
  outline: 5px solid var(--action-focus-color);
}

.product-card__link:focus-visible .product-card__title,
.product-card__link:focus-visible .product-card__price{
  color: var(--action-focus-color);
}

.product-card__row{
  display: flex;
  justify-content: space-between;
}

.product-card__image{
  margin-bottom: 23px;
  position: relative;
}

.product-card__link::after{
  position: absolute;
  width: 160px;
  height: 20px;
  content: "Подробнее";
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.product-card__title{
  width: 255px;
  margin: 0;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.product-card__price{
  margin: 0;
  margin-top: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--main-dark-color);
}

.catalog-products__button{
  padding: 15px 0 15px 4px;
  width: 100%;
  margin-bottom: 51px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-black-color);
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, .1);
  cursor: pointer;
}

.catalog-products__button:hover{
  border: 3px solid var(--main-black-color);
}
.catalog-products__button:focus-visible{
  border: 3px solid transparent;
  outline: 5px solid var(--action-focus-color);
}



.catalog-products__button:active{
  border: 3px solid var(--main-black-color);
  opacity: .3;
}

/* PAGINATION */

.pagination{
  margin: 0;
  padding: 0;
  margin-bottom: 77px;
  list-style: none;
  display: flex;
  background-color:var(--main-bg-sort-color);
}

.pagination__item{
  align-items: center;
  padding-top: 18px;
  margin-right: 1px;
}

.pagination__item-prev{
  margin-right: 175px;
}

.pagination__item-next{
  margin-left: auto;
}

.pagination__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  text-decoration: none;
  color: rgba(68, 68, 68, .3);
  border: 5px solid transparent;
}

.pagination__link:focus-visible{
  border: 5px solid var(--action-focus-color);
  outline: none;
}

.pagination__link:hover{
  color: var(--main-dark-color);
}

.pagination__link:active{
  color: var(--main-dark-color);
  opacity: .1;
}

.pagination__link-next,
.pagination__link-prev{
  display: block;
  padding: 16px 22px 14px 24px;
  font-size: 16px;
  font-family: "Raleway", "Arial", sans-serif;
  color: inherit;
  background: inherit;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 1;
  border: 5px solid transparent;
}

.pagination__link-prev:hover,
.pagination__link-next:hover{
  background-color: var(--main-bg-filter-color);
}

.pagination__link-prev:focus-visible,
.pagination__link-next:focus-visible{
  outline: none;
  border: 5px solid var(--action-focus-color);
}

.pagination__link-prev:active,
.pagination__link-next:active{
  color: rgba(0, 0, 0, .3);
}


.display-none{
  display: none;
}
